@keyframes showSkill {
  0% {
    bottom: 0;
  }
  25% {
    bottom: 20%;
  }
  50% {
    bottom: 50%;
  }
  75% {
    bottom: 70%;
  }
  100% {
    bottom: 100%;
  }
}

.skill {
  position: absolute;
  bottom: 0;
  animation-name: showSkill;
  animation-duration: 4s;
}
