@import "./sass/colour.scss";

@keyframes showSkill {
  0% {
    bottom: 0;
  }
  25% {
    bottom: 20%;
  }
  50% {
    bottom: 50%;
  }
  75% {
    bottom: 70%;
  }
  100% {
    bottom: 100%;
  }
}

.skill {
  position: absolute;
  bottom: 0;
  animation-name: showSkill;
  animation-duration: 4s;
}
body {
  background-color: $blueMain;
}

// GENERAL
.sector-sm {
  max-width: 300px;
  margin: auto;
}
.sector-md {
  max-width: 750px;
  margin: auto;
}
.sector-lg {
  max-width: 1200px;
  margin: auto;
}

/* START VIEW */
.view-set-name,
.view-set-animal,
.view-set-role {
  height: 100vh;
  text-align: center;
  position: relative;
  .container-inner {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-size: 3rem;
      font-weight: bold;
      color: $yellowMain;
      margin-bottom: 3rem;
    }
    .container-input {
      position: relative;
      line-height: 3rem;
      font-size: 1.5rem;
      color: $blueLight;
      input {
        color: inherit;
        line-height: inherit;
        font-size: inherit;
        width: 100%;
        padding-left: 1rem;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-bottom: 2px solid $blueLight;
        &::placeholder {
          color: $blueLight;
        }
      }
      .btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

/* SET ANIMAL VIEW */
.container-animals {
  padding-bottom: 3rem;
}

.container-mask {
  position: relative;
}

.hero-mask {
  width: 90%;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
}

.btn-pre,
.btn-next {
  position: absolute;
  font-size: 4rem;
  top: 50%;
  color: $yellowMain;
  &:hover {
    cursor: pointer;
  }
}

.btn-pre {
  left: -25%;
}

.btn-next {
  right: -25%;
}

button {
  padding: 0 1.5rem;
  font-size: 1.8rem;
  line-height: 3rem;
  background-color: #fef382;
  color: $yellowDark;
  border-radius: 5px;
  border-left: 5px solid $yellowDark;
  border-bottom: 5px solid $yellowDark;
  border-right: 5px solid #fbf6d3;
  border-top: 5px solid #fbf6d3;
  box-shadow: -4px 4px #111;
}
