@import "./sass/colour.scss";

// GENERAL
body {
  background-color: $blueMain;
}

.container-outer {
  height: 100vh;
  text-align: center;
  position: relative;
}

.container-center {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sector-sm {
  max-width: 300px;
  margin: auto;
}
.sector-md {
  max-width: 750px;
  margin: auto;
}
.sector-lg {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: $yellowMain;
  margin-bottom: 3rem;
}

button,
.label-hero-name {
  display: inline-block;
  padding: 0 1.5rem;
  font-size: 1.8rem;
  line-height: 3rem;
  background-color: #fef382;
  color: $yellowDark;
  border-radius: 5px;
  border-left: 5px solid $yellowDark;
  border-bottom: 5px solid $yellowDark;
  border-right: 5px solid #fbf6d3;
  border-top: 5px solid #fbf6d3;
  margin: 3rem 0.5rem 0 0.5rem;
}

// LANDING VIEW
.container-input {
  position: relative;
  line-height: 3rem;
  font-size: 1.5rem;
  color: $blueLight;
  input {
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    width: 100%;
    padding-left: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid $blueLight;
    &::placeholder {
      color: $blueLight;
    }
  }
  .btn-arrow {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

//  SELECT ROLE VIEW

.container-mask {
  position: relative;
}

.hero-mask {
  width: 90%;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
}

.btn-pre,
.btn-next {
  position: absolute;
  font-size: 4rem;
  top: 50%;
  color: $yellowMain;
  &:hover {
    cursor: pointer;
  }
}

.btn-pre {
  left: -25%;
}

.btn-next {
  right: -25%;
}

// ANIMATION
@keyframes showSuperpower {
  from {
    top: 100%;
    opacity: 1;
  }
  to {
    top: 0%;
    opacity: 0;
  }
}

.superpower {
  width: 100%;
  position: absolute;
  top: 100%;
  opacity: 1;
  animation-name: showSuperpower;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

// SELECT COLOUR VIEW
.container-colour {
  position: absolute;
  right: -40%;
  top: 0;
  transform: translateY(50%);
}
